

/* --------------- HEADER ZONE --------------- */

header {
    min-height: 600px;
    position: relative;
    width: 100%;
}


/* ===[ Begin Slider Basics ]=== */

header #slider {
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

header #slider h2 {
    left: 70px;
    top: 95px;
}

header #slider p {
    left: 70px;
    top: 195px;
}

.trex-slider .button{
	margin-top: 300px;
}

/* ===[ End Of Slider Basics ]=== */
/*--------------- RESPONSIVE STYLES ---------------*/

/* ===[ Desktop ]=== */
@media (min-width: 959px) and (max-width: 1200px) {

	header #slider {
		background-size: auto 100% !important;
	} 

}

/* ===[ Portrait Tablet To Desktop ]=== */
@media (max-width: 959px) { 


	header {
	    min-height: 440px
	}


	header #slider {
	    background-size: auto 100%
	}


	.trex-slider {
	    height: 440px;
	    min-width: 440px;
	    width: 100%;
	}

	.trex-slide {
	    margin-left: -50%;
	    position: absolute;
	    width: 100%;
	}

	.trex-slide .trex-link {
	    font-size: 14px;
	    padding: 10px;
	    top: 340px !important;
	}




	.trex-slide img {
	    margin-left: 20%;
	    width: 60%;
	}

	.trex-slider h2 {
	    font-size: 42px;
	    top: 90px !important;
	}

	.trex-slider p {
	    font-size: 13px;
	    top: 186px !important;
	    width: 280px;
	}

	
	section #features div.row, section #more_features .row, section #quote .row, section #latest_tweets div.row, section #about .right, section #about .left, section #about div.row, section #download div.row, section #our_team div.row, section #pricelist div.row, section #gallery div.row, section #gallery div.row .gallery_top, section #contact div.row #contact_info, .contact_left, .contact_right, #sponsors div.row, footer .container, footer div.row {
	    width: 100% !important
	}

	

}

/* ===[ Landscape Tablet ]=== */

@media (max-width: 768px) { 


	.trex-slider {
	    height: 440px;
	    min-width: 440px;
	    width: 100%;
	}

	.trex-slider h2, .trex-slider p, .trex-slider .trex-img, .trex-slide .trex-link, .trex-slider .button {
	    -moz-animation: none !important;
	    -ms-animation: none !important;
	    -o-animation: none !important;
	    -webkit-animation: none !important;
	    animation: none !important;
	}

	.trex-slider h2 {
	    font-size: 42px;
	    display: block
	    margin: 0 auto;
	    top: 60px !important;
	}

	.trex-slider p {
		display: block;
	    font-size: 13px;
	    margin: 0 auto;
	    top: 186px !important;
	    width: 450px;
	}
	.trex-slider .button{
		display: block;
		margin: 0 auto;
		margin-top: 275px;
		width: 452px;
		
	}
	.trex-slide {
	    margin-left: -50%;
	    position: absolute;
	    width: 100%;
	}

	.trex-slide .trex-link {
	    font-size: 14px;
	    left: 55% !important;
	    padding: 10px;
	    top: 340px !important;
	}



	.trex-slide img {
	    margin-left: 8%;
	    width: 68% !important;
	    display: none;
	}



}

/* ===[ Mobile Alternatives ]=== */

@media (max-width: 570px) {

 
}

/* ===[ Mobile Landscape ]=== */

@media (max-width: 594px) {

	header {
    	min-height: 300px
	}

	.trex-slider {
	    height: 300px;
	    min-width: 400px;
	    width: 100%;
	}
	
	.trex-slider .button{
		margin-top: 145px;
	}

	.trex-slider h2 {
	    font-size: 32px;
	    top: 16px !important;
	}

	.trex-slider p, .trex-slide .trex-link {
	    display: none
	}

	.trex-slide img {
	    margin-left: 10%;
	    width: 40% !important;
	}

	.trex-slide .pure img {
	    width: 80% !important
	}
		.trex-slider .applestore , .trex-slider .googleplay{
		background-repeat: no-repeat;
		background-size: 100%;
		height: 60px;
		width: 160px;
		background-position: 0px 0px;
	}
		.trex-slider .button{
		width: 330px !important;
	}
	.trex-slider h2{
		font-size: 20px;
	}

}

/* ===[ Mobile Portrait ]=== */

@media (max-width: 400px) {

	.trex-slider h2 {
		font-size: 14px;
		
	}
	
	.trex-slider .applestore , .trex-slider .googleplay{
		background-repeat: no-repeat;
		background-size: 100%;
		height: 54px;
		width: 140px;
		background-position: 0px 0px;
	}
	.trex-slider .button{
		width: 145px !important;
	}

	.trex-slider {
		min-width: 100px;
	}

}	